{% extends "base.html" %}

{% block content %}
    <div class="flex flex-col w-full">
        <div class="container mx-auto px-6 py-8">
            {% for article in articles %}
                <a href="{% url 'article_detail' article.id %}">
                <div class="flex flex-row gap-10 items-center bg-white text-black shadow-lg rounded-lg px-4 py-2 mb-6">
                    <span>{{ forloop.counter }}</span>
                    <img src="{{ article.imageURL }}" alt="{{ article.title }}" class="w-10 h-10 object-cover object-center rounded-lg">
                    <h2 class="text-md">{{ article.title }}</h2>
                    <p class="text-md ">Author: {{ article.author }}</p>
                    <p class="text-md ">Published date: {{ article.published_date }}</p>
                </div>
            {% endfor %}
        </div>
        <a href="{% url 'new_article' %}">
        <div class="flex fixed bottom-[10%] left-[91%] justify-center items-center w-20 h-20 rounded-full bg-purple-300">
            <div class="absolute w-12 h-2 bg-white transform translate-x-[-4%] rounded top-[48%]"></div>
            <div class="absolute w-2 h-12 bg-white transform translate-y-[-50%] rounded left-[44%] top-[53%]"></div>
        </div>
    </div>
{% endblock %}
