{% extends "base.html" %}

{% block content %}
    <div class="flex flex-col relative top-[20%] w-full lg:w-1/2 bg-gray-900 items-center justify-center p-4 md:p-8 lg:p-16 pb-8 md:pb-16 lg:pb-24">
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <h2 class="text-center text-xl md:text-2xl font-bold text-white mb-4">
                Create an account
            </h2>
            <p class="mb-6 text-center text-sm text-white">
                Or <a href="{% url 'login' %}" class="font-medium text-blue-600 hover:text-blue-500">
                login to your account
                </a>
            </p>
            <div class="flex flex-col text-black w-full lg:w-full">
                <input type="text" name="username" class="h-8 mb-2 p-2 rounded-md" placeholder="Username" required>
                <input type="email" name="email" class="h-8 mb-2 p-2 rounded-md" placeholder="Email" required>
                <input type="number" name="phn_num" class="h-8 mb-2 p-2 rounded-md" placeholder="Phone number" required>
                <input type="password" name="password" class="h-8 mb-2 p-2 rounded-md" placeholder="Password" required>
                <input type="password" name="confirm_password" class="h-8 mb-2 p-2 rounded-md" placeholder="Confirm Password" required>
                
                <button type="submit" class="bg-purple-500 text-white h-8 rounded-md w-full md:w-auto mt-2">Register</button>
            </div>
        </form>
    </div>

{% endblock %}
