{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="https://shuvendusingha.onrender.com/favicon.ico" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %} Ahgnis {% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <script src="https://cdn.tiny.cloud/1/8kahlt9ejvfhlb9hsgeb59fz0w52qa796hhhl9ux4ommz5nq/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

        {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> {% endcomment %}
    </head>

    <body class='flex bg-gray-600 text-white justify-center'>
        {% include "app_cms/navbar.html"%}

        <div class="flex justify-center mt-16 w-full">
            {% block content %}

            {% endblock %}
        </div>

        <script>
            tinymce.init({
              selector: 'textarea',
              plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
              toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
              tinycomments_mode: 'embedded',
              tinycomments_author: 'Author name',
              mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
              ],
              ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant"))
            });
          </script>
    </body>
</html>